<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:replace="~{ base :: Layout(~{::title} , ~{::section} ) }">
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
</head>
<body>
	<section style="position: relative; text-align: center;">
        <div style="width: 100%; max-width: 100%; position: relative;">
            <img alt="" src="/img/booknote.jpg" style="width: 100%; height: auto;">
            <div style="position: absolute; top: 0%; left: 50%; transform: translate(-50%, 0); color: white; font-weight: bold;padding: 0px;">
                <h1>ENotes - Save Notes</h1>
                <p style="font-size: 15px; ">Say goodbye to disorganized notes. Start taking control with smarter systems today!</p>
            </div>
        </div>
    </section>
</body>
</html>